.btnEditPerson {
	margin-right: 5px;
}
// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.element {
  .center-block();
}
.female{
	color:red;
	font-weight:bold;
	 
	
	
}
.male{
	color:blue;
		font-weight:bold;
	
}
.othergender{
	color:green;
		font-weight:bold;	
}
.personselect{
	font-weight:bold;
}
body{
	text-color:#005566;
	background-image:url('http://41.media.tumblr.com/7291a6b307692a893296ee3d9e97cbf8/tumblr_o2o33wv6ew1qclpaho1_250.png');
}
.navbar-inverse {
    background-color: #220011;
}
.changetext{
	color:#005566;
	    text-decoration: underline;
}
.textcolor{
	color:#005566;
	text-decoration:none;
}
.titlecolor{
	color:#881155;
}
.titlecolortoo{
	color:#881155;
	text-decoration:underline;
	font-weight: bold;
}
.maintitle{
	color:#005566;
	text-shadow: 2px 2px 4px #f279da;
}