.btnEditPerson {
	margin-right: 5px;
}
// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}
.female{
	color:pink;
}
.male{
	color:blue;
}
.othergender{
	color:green;
}